.mainColor{ background-color:#191919;}
.mainSecondColor{ background-color:#282828;}
.mainThirdColor{ background-color:#343434;}
.mainConsoleColor{ background-color:#191919;}
.mainTextColor{ color:#f7f7f7;}
.mainTextSecondColor{ color:#e5e5e5;}
.mainTextThirdColor{ color:#919191;}
.mainTextDisabledColor{ color:#747474;}
.outputTextColor{ color:#F5F5F5;}
