.mainColor{ background-color:#f9fafb;}
.mainSecondColor{ background-color:#ffffff;}
.mainThirdColor{ background-color:#EAEDF1;}
.mainConsoleColor{ background-color:#f9fafb;}
.mainTextColor{ color:#111827;}
.mainTextSecondColor{ color:#616161;}
.mainTextThirdColor{ color:#919191;}
.mainTextDisabledColor{ color:#747474;}
.outputTextColor{ color:#151922;}
