.mainColor{ background-color:#065535;}
.mainSecondColor{ background-color:#086d44;}
.mainThirdColor{ background-color:#8a395a;}
.mainConsoleColor{ background-color:#000000;}
.mainTextColor{ color:#DAA520;}
.mainTextSecondColor{ color:#e5e5e5;}
.mainTextThirdColor{ color:#CECECE;}
.mainTextDisabledColor{ color:#c4941c;}
.outputTextColor{ color:#F5F5F5;}
