.mainColor{ background-color:#ffffff;}
.mainSecondColor{ background-color:#f2f3f6;}
.mainThirdColor{ background-color:#e4e6ec;}
.mainConsoleColor{ background-color:#ffffff;}
.mainTextColor{ color:#313131;}
.mainTextSecondColor{ color:#616161;}
.mainTextThirdColor{ color:#919191;}
.mainTextDisabledColor{ color:#747474;}
.outputTextColor{ color:#151922;}
